In [11]:
import pandas as pd
import os
os.getcwd()
bank_df = pd.read_csv('../data/bank-prep.csv', sep=',')
#C:\\Users\\user\\Desktop\\AI 실습\\파이썬데이터 분석\\data\\bank-prep.csv

In [12]:
bank_df.head()

,age,default,balance,loan,day,duration,campaign,pdays,previous,y,...,dec,feb,jan,jul,jun,mar,may,nov,oct,sep
0,58,0,2143,0,5,261,1,-1,0,0,...,0,0,0,0,0,0,1,0,0,0
1,36,0,265,1,5,348,1,-1,0,0,...,0,0,0,0,0,0,1,0,0,0
2,25,0,-7,0,5,365,1,-1,0,0,...,0,0,0,0,0,0,1,0,0,0
3,53,0,-3,0,5,1666,1,-1,0,0,...,0,0,0,0,0,0,1,0,0,0
4,24,0,-103,1,5,145,1,-1,0,0,...,0,0,0,0,0,0,1,0,0,0

In [14]:
print(f"데이터 행, 열{bank_df.shape} \n 데이터 타입 : {bank_df.dtypes}")

데이터 행, 열(6933, 31)
 데이터 타입 : age          int64
default      int64
balance      int64
loan         int64
day          int64
duration     int64
campaign     int64
pdays        int64
previous     int64
y            int64
divorced     int64
married      int64
single       int64
primary      int64
secondary    int64
tertiary     int64
cellular     int64
telephone    int64
unknown      int64
apr          int64
aug          int64
dec          int64
feb          int64
jan          int64
jul          int64
jun          int64
mar          int64
may          int64
nov          int64
oct          int64
sep          int64
dtype: object

In [15]:
from sklearn.preprocessing import MinMaxScaler

bank_df = bank_df.drop('y', axis=1)

mc = MinMaxScaler()
mc.fit(bank_df)

bank_df_mc = pd.DataFrame(mc.transform(bank_df), columns=bank_df.columns)
bank_df_mc.head()

,age,default,balance,loan,day,duration,campaign,pdays,previous,divorced,...,dec,feb,jan,jul,jun,mar,may,nov,oct,sep
0,0.549296,0.0,0.064555,0.0,0.133333,0.077540,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
1,0.239437,0.0,0.042335,1.0,0.133333,0.103387,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
2,0.084507,0.0,0.039116,0.0,0.133333,0.108437,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
3,0.478873,0.0,0.039164,0.0,0.133333,0.494949,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
4,0.070423,0.0,0.037981,1.0,0.133333,0.043078,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0

In [20]:
from sklearn.preprocessing import StandardScaler

sc = StandardScaler()

sc.fit(bank_df)

bank_df_sc = pd.DataFrame(sc.transform(bank_df), columns=bank_df.columns)

In [21]:
bank_df_sc.head()

,age,default,balance,loan,day,duration,campaign,pdays,previous,divorced,...,dec,feb,jan,jul,jun,mar,may,nov,oct,sep
0,1.647908,-0.137148,0.250618,-0.444540,-1.275382,-0.006613,-0.574193,-0.418664,-0.310149,-0.362951,...,-0.063679,-0.267818,-0.167406,-0.43473,-0.351657,-0.100262,1.510337,-0.320275,-0.134949,-0.112073
1,-0.443424,-0.137148,-0.362335,2.249514,-1.275382,0.317659,-0.574193,-0.418664,-0.310149,-0.362951,...,-0.063679,-0.267818,-0.167406,-0.43473,-0.351657,-0.100262,1.510337,-0.320275,-0.134949,-0.112073
2,-1.489090,-0.137148,-0.451112,-0.444540,-1.275382,0.381022,-0.574193,-0.418664,-0.310149,-0.362951,...,-0.063679,-0.267818,-0.167406,-0.43473,-0.351657,-0.100262,1.510337,-0.320275,-0.134949,-0.112073
3,1.172605,-0.137148,-0.449807,-0.444540,-1.275382,5.230180,-0.574193,-0.418664,-0.310149,-0.362951,...,-0.063679,-0.267818,-0.167406,-0.43473,-0.351657,-0.100262,1.510337,-0.320275,-0.134949,-0.112073
4,-1.584150,-0.137148,-0.482445,2.249514,-1.275382,-0.438974,-0.574193,-0.418664,-0.310149,-0.362951,...,-0.063679,-0.267818,-0.167406,-0.43473,-0.351657,-0.100262,1.510337,-0.320275,-0.134949,-0.112073

In [22]:
print(bank_df_sc.mean())
print(bank_df_sc.std())

age         -2.859389e-16
default      4.099482e-17
balance     -3.279586e-17
loan        -3.279586e-17
day          8.198964e-18
duration    -2.049741e-18
campaign     0.000000e+00
pdays       -3.279586e-17
previous     3.279586e-17
divorced    -8.198964e-18
married     -2.869637e-17
single      -9.838757e-17
primary      7.379068e-17
secondary    1.065865e-16
tertiary    -8.198964e-18
cellular     1.967751e-16
telephone   -3.279586e-17
unknown     -9.838757e-17
apr         -1.639793e-17
aug          0.000000e+00
dec          1.639793e-17
feb          0.000000e+00
jan         -4.919379e-17
jul          0.000000e+00
jun         -3.279586e-17
mar         -1.639793e-17
may          9.838757e-17
nov         -3.279586e-17
oct          1.639793e-17
sep         -6.559171e-17
dtype: float64
age          1.000072
default      1.000072
balance      1.000072
loan         1.000072
day          1.000072
duration     1.000072
campaign     1.000072
pdays        1.000072
previous     1.000072
divorced     1.000072
married      1.000072
single       1.000072
primary      1.000072
secondary    1.000072
tertiary     1.000072
cellular     1.000072
telephone    1.000072
unknown      1.000072
apr          1.000072
aug          1.000072
dec          1.000072
feb          1.000072
jan          1.000072
jul          1.000072
jun          1.000072
mar          1.000072
may          1.000072
nov          1.000072
oct          1.000072
sep          1.000072
dtype: float64