In [2]:
import os
import pandas as pd

enr = pd.read_csv('../data/energydata.csv', sep=',')

dat_df = pd.DataFrame(enr)

dat_df

,date,Appliances,lights,T1,RH_1,T2,RH_2,T3,RH_3,T4,RH_4,T5,RH_5
0,2016-01-11 17:00:00,60,30,19.890000,47.596667,19.200000,44.790000,19.79,44.730000,19.000000,45.566667,17.166667,55.200000
1,2016-01-11 17:10:00,60,30,19.890000,46.693333,19.200000,44.722500,19.79,44.790000,19.000000,45.992500,17.166667,55.200000
2,2016-01-11 17:20:00,50,30,19.890000,46.300000,19.200000,44.626667,19.79,44.933333,18.926667,45.890000,17.166667,55.090000
3,2016-01-11 17:30:00,50,40,19.890000,46.066667,19.200000,44.590000,19.79,45.000000,18.890000,45.723333,17.166667,55.090000
4,2016-01-11 17:40:00,60,40,19.890000,46.333333,19.200000,44.530000,19.79,45.000000,18.890000,45.530000,17.200000,55.090000
...,...,...,...,...,...,...,...,...,...,...,...,...,...
17419,2016-05-11 16:10:00,70,0,25.633333,46.826667,26.456000,41.834000,26.20,44.054000,26.100000,44.090000,24.000000,50.626667
17420,2016-05-11 16:20:00,80,0,25.675000,47.175000,26.375714,42.708571,26.20,44.090000,26.100000,44.200000,24.000000,50.700000
17421,2016-05-11 16:30:00,70,0,25.533333,48.333333,26.196000,44.532000,26.20,44.280000,26.100000,44.382857,24.033333,50.830000
17422,2016-05-11 16:40:00,80,0,25.500000,49.226667,25.892857,46.124286,26.20,44.825714,26.040000,44.898000,24.100000,51.296667
17423,2016-05-11 16:50:00,80,0,25.500000,49.766667,25.660000,47.280000,26.18,45.314000,26.000000,45.641250,24.000000,51.726667

In [3]:
dat_df[8585:8588]

,date,Appliances,lights,T1,RH_1,T2,RH_2,T3,RH_3,T4,RH_4,T5,RH_5
8585,2016-03-11 07:50:00,70,0,20.2,37.160000,16.5,42.430000,20.39,37.500000,19.700000,34.360000,18.000000,46.660000
8586,2016-03-11 08:00:00,280,0,20.2,37.463333,16.6,42.766667,NaN,37.500000,19.700000,34.633333,18.066667,46.193333
8587,2016-03-11 08:10:00,180,10,20.2,37.530000,16.6,42.966667,20.29,37.363333,19.666667,34.723333,18.100000,45.723333

In [4]:
dat_df[8585:8588].fillna(method='ffill')

,date,Appliances,lights,T1,RH_1,T2,RH_2,T3,RH_3,T4,RH_4,T5,RH_5
8585,2016-03-11 07:50:00,70,0,20.2,37.160000,16.5,42.430000,20.39,37.500000,19.700000,34.360000,18.000000,46.660000
8586,2016-03-11 08:00:00,280,0,20.2,37.463333,16.6,42.766667,20.39,37.500000,19.700000,34.633333,18.066667,46.193333
8587,2016-03-11 08:10:00,180,10,20.2,37.530000,16.6,42.966667,20.29,37.363333,19.666667,34.723333,18.100000,45.723333

In [5]:
dat_df = dat_df.interpolate()
dat_df[8585:8588]

,date,Appliances,lights,T1,RH_1,T2,RH_2,T3,RH_3,T4,RH_4,T5,RH_5
8585,2016-03-11 07:50:00,70,0,20.2,37.160000,16.5,42.430000,20.39,37.500000,19.700000,34.360000,18.000000,46.660000
8586,2016-03-11 08:00:00,280,0,20.2,37.463333,16.6,42.766667,20.34,37.500000,19.700000,34.633333,18.066667,46.193333
8587,2016-03-11 08:10:00,180,10,20.2,37.530000,16.6,42.966667,20.29,37.363333,19.666667,34.723333,18.100000,45.723333

In [6]:
# date를 object형에서 datetime형으로 변환
dat_df['date'] = pd.to_datetime(dat_df['date'], format='%Y-%m-%d %H:%M:%S')

# 전행과의 시간차를 계산
dat_df['dif_min'] = dat_df['date'].diff().dt.total_seconds()/60
# 선두 요소의 결손을 0으로 메꾼다
dat_df['dif_min'] = dat_df['dif_min'].fillna(0)

# 경과시간(분)을 계산
dat_df['cum_min'] = dat_df['dif_min'].cumsum()

# 선두에서 5행까지 표시
dat_df[['date', 'cum_min']].head()

                 date  cum_min
0 2016-01-11 17:00:00      0.0
1 2016-01-11 17:10:00     10.0
2 2016-01-11 17:20:00     20.0
3 2016-01-11 17:30:00     30.0
4 2016-01-11 17:40:00     40.0

In [7]:
dat_df['date']

0       2016-01-11 17:00:00
1       2016-01-11 17:10:00
2       2016-01-11 17:20:00
3       2016-01-11 17:30:00
4       2016-01-11 17:40:00
                ...
17419   2016-05-11 16:10:00
17420   2016-05-11 16:20:00
17421   2016-05-11 16:30:00
17422   2016-05-11 16:40:00
17423   2016-05-11 16:50:00
Name: date, Length: 17424, dtype: datetime64[ns]

연습문제4

In [8]:
# 연습문제4
# 경과시간(6시간)을 계산
dat_df['cum_6hour'] = (dat_df['cum_min']/360).round(2).astype(int)

# 시간ID의 확인
print(dat_df['cum_6hour'].unique())
# 선두에서 50행까지 표시
dat_df[['date', 'cum_min', 'cum_6hour']].head(50)

[  0   1   2   3   4   5   6   7   8   9  10  11  12  13  14  15  16  17
  18  19  20  21  22  23  24  25  26  27  28  29  30  31  32  33  34  35
  36  37  38  39  40  41  42  43  44  45  46  47  48  49  50  51  52  53
  54  55  56  57  58  59  60  61  62  63  64  65  66  67  68  69  70  71
  72  73  74  75  76  77  78  79  80  81  82  83  84  85  86  87  88  89
  90  91  92  93  94  95  96  97  98  99 100 101 102 103 104 105 106 107
 108 109 110 111 112 113 114 115 116 117 118 119 120 121 122 123 124 125
 126 127 128 129 130 131 132 133 134 135 136 137 138 139 140 141 142 143
 144 145 146 147 148 149 150 151 152 153 154 155 156 157 158 159 160 161
 162 163 164 165 166 167 168 169 170 171 172 173 174 175 176 177 178 179
 180 181 182 183 184 185 186 187 188 189 190 191 192 193 194 195 196 197
 198 199 200 201 202 203 204 205 206 207 208 209 210 211 212 213 214 215
 216 217 218 219 220 221 222 223 224 225 226 227 228 229 230 231 232 233
 234 235 236 237 238 239 240 241 242 243 244 245 246 247 248 249 250 251
 252 253 254 255 256 257 258 259 260 261 262 263 264 265 266 267 268 269
 270 271 272 273 274 275 276 277 278 279 280 281 282 283 284 285 286 287
 288 289 290 291 292 293 294 295 296 297 298 299 300 301 302 303 304 305
 306 307 308 309 310 311 312 313 314 315 316 317 318 319 320 321 322 323
 324 325 326 327 328 329 330 331 332 333 334 335 336 337 338 339 340 341
 342 343 344 345 346 347 348 349 350 351 352 353 354 355 356 357 358 359
 360 361 362 363 364 365 366 367 368 369 370 371 372 373 374 375 376 377
 378 379 380 381 382 383 384 385 386 387 388 389 390 391 392 393 394 395
 396 397 398 399 400 401 402 403 404 405 406 407 408 409 410 411 412 413
 414 415 416 417 418 419 420 421 422 423 424 425 426 427 428 429 430 431
 432 433 434 435 436 437 438 439 440 441 442 443 444 445 446 447 448 449
 450 451 452 453 454 455 456 457 458 459 460 461 462 463 464 465 466 467
 468 469 470 471 472 473 474 475 476 477 478 479 480 481 482 483]

                  date  cum_min  cum_6hour
0  2016-01-11 17:00:00      0.0          0
1  2016-01-11 17:10:00     10.0          0
2  2016-01-11 17:20:00     20.0          0
3  2016-01-11 17:30:00     30.0          0
4  2016-01-11 17:40:00     40.0          0
5  2016-01-11 17:50:00     50.0          0
6  2016-01-11 18:00:00     60.0          0
7  2016-01-11 18:10:00     70.0          0
8  2016-01-11 18:20:00     80.0          0
9  2016-01-11 18:30:00     90.0          0
10 2016-01-11 18:40:00    100.0          0
11 2016-01-11 18:50:00    110.0          0
12 2016-01-11 19:00:00    120.0          0
13 2016-01-11 19:10:00    130.0          0
14 2016-01-11 19:20:00    140.0          0
15 2016-01-11 19:30:00    150.0          0
16 2016-01-11 19:40:00    160.0          0
17 2016-01-11 19:50:00    170.0          0
18 2016-01-11 20:00:00    180.0          0
19 2016-01-11 20:10:00    190.0          0
20 2016-01-11 20:20:00    200.0          0
21 2016-01-11 20:30:00    210.0          0
22 2016-01-11 20:40:00    220.0          0
23 2016-01-11 20:50:00    230.0          0
24 2016-01-11 21:00:00    240.0          0
25 2016-01-11 21:10:00    250.0          0
26 2016-01-11 21:20:00    260.0          0
27 2016-01-11 21:30:00    270.0          0
28 2016-01-11 21:40:00    280.0          0
29 2016-01-11 21:50:00    290.0          0
30 2016-01-11 22:00:00    300.0          0
31 2016-01-11 22:10:00    310.0          0
32 2016-01-11 22:20:00    320.0          0
33 2016-01-11 22:30:00    330.0          0
34 2016-01-11 22:40:00    340.0          0
35 2016-01-11 22:50:00    350.0          0
36 2016-01-11 23:00:00    360.0          1
37 2016-01-11 23:10:00    370.0          1
38 2016-01-11 23:20:00    380.0          1
39 2016-01-11 23:30:00    390.0          1
40 2016-01-11 23:40:00    400.0          1
41 2016-01-11 23:50:00    410.0          1
42 2016-01-12 00:00:00    420.0          1
43 2016-01-12 00:10:00    430.0          1
44 2016-01-12 00:20:00    440.0          1
45 2016-01-12 00:30:00    450.0          1
46 2016-01-12 00:40:00    460.0          1
47 2016-01-12 00:50:00    470.0          1
48 2016-01-12 01:00:00    480.0          1
49 2016-01-12 01:10:00    490.0          1

In [9]:
dat_df = dat_df.drop(['date', 'dif_min', 'cum_min'], axis=1)
dat_df_mean = dat_df.groupby('cum_6hour').mean()

In [10]:
dat_df_mean.head()

,Appliances,lights,T1,RH_1,T2,RH_2,T3,RH_3,T4,RH_4,T5,RH_5
cum_6hour,,,,,,,,,,,,
0,150.000000,31.944444,20.688056,47.345394,20.023148,44.973287,20.111481,46.041875,19.255972,47.379074,17.761597,60.359861
1,81.944444,7.222222,20.858287,45.627708,20.227315,44.286435,20.213588,45.530833,20.740093,46.503634,18.898519,50.261273
2,83.333333,5.555556,19.860463,47.019213,19.140608,44.876698,20.149722,45.269306,19.349259,45.893611,18.163125,50.817454
3,101.111111,0.000000,20.037500,44.843009,19.103377,43.495476,19.907778,44.802407,19.748287,43.536204,17.835370,50.444111
4,78.611111,7.222222,19.947963,43.275394,19.113860,42.606633,19.788704,44.312037,19.555093,42.804491,17.477870,50.732546

In [11]:
dat_df_std = dat_df.groupby('cum_6hour').std()

In [12]:
dat_df_std.head()

,Appliances,lights,T1,RH_1,T2,RH_2,T3,RH_3,T4,RH_4,T5,RH_5
cum_6hour,,,,,,,,,,,,
0,131.366445,13.901582,0.672443,2.998070,0.653222,0.848637,0.278809,1.185530,0.485747,1.282966,0.791008,9.891611
1,101.497908,9.137399,0.460572,0.811346,0.476669,0.342190,0.082826,0.103003,0.560148,0.511257,0.272610,0.339389
2,104.853639,9.085135,0.103157,1.039938,0.167655,0.318816,0.142110,0.261039,0.273491,0.776746,0.178471,1.138170
3,95.999339,0.000000,0.059026,1.091231,0.069944,0.617057,0.046289,0.068936,0.274278,0.622986,0.164863,0.792715
4,83.773599,12.097488,0.151195,0.561101,0.187641,0.418215,0.048003,0.180349,0.341428,0.430826,0.075740,0.247231

In [13]:
dat_features = pd.merge(dat_df_mean, dat_df_std, left_index=True, right_index=True)

print(dat_features.shape)
dat_features.head()

(484, 24)

,Appliances_x,lights_x,T1_x,RH_1_x,T2_x,RH_2_x,T3_x,RH_3_x,T4_x,RH_4_x,...,T1_y,RH_1_y,T2_y,RH_2_y,T3_y,RH_3_y,T4_y,RH_4_y,T5_y,RH_5_y
cum_6hour,,,,,,,,,,,,,,,,,,,,,
0,150.000000,31.944444,20.688056,47.345394,20.023148,44.973287,20.111481,46.041875,19.255972,47.379074,...,0.672443,2.998070,0.653222,0.848637,0.278809,1.185530,0.485747,1.282966,0.791008,9.891611
1,81.944444,7.222222,20.858287,45.627708,20.227315,44.286435,20.213588,45.530833,20.740093,46.503634,...,0.460572,0.811346,0.476669,0.342190,0.082826,0.103003,0.560148,0.511257,0.272610,0.339389
2,83.333333,5.555556,19.860463,47.019213,19.140608,44.876698,20.149722,45.269306,19.349259,45.893611,...,0.103157,1.039938,0.167655,0.318816,0.142110,0.261039,0.273491,0.776746,0.178471,1.138170
3,101.111111,0.000000,20.037500,44.843009,19.103377,43.495476,19.907778,44.802407,19.748287,43.536204,...,0.059026,1.091231,0.069944,0.617057,0.046289,0.068936,0.274278,0.622986,0.164863,0.792715
4,78.611111,7.222222,19.947963,43.275394,19.113860,42.606633,19.788704,44.312037,19.555093,42.804491,...,0.151195,0.561101,0.187641,0.418215,0.048003,0.180349,0.341428,0.430826,0.075740,0.247231

In [15]:
event_df = pd.read_csv('../data/event.csv', sep=',')
event_df.shape

(164, 1)

In [18]:
import datetime as dt

event_df['date'] = pd.to_datetime(event_df['date'], format='%Y-%m-%d %H:%M:%S')
base_time= '2016-01-11 17:00:00'
event_df['dif_min'] = event_df['date'] - dt.datetime.strptime(base_time, '%Y-%m-%d %H:%M:%S')

event_df['dif_min'] = event_df['dif_min'].dt.total_seconds()/60

event_df['cum_6hour'] = (event_df['dif_min']/360).round(2).astype(int)

# 선두에서 5행까지 표시
event_df.head()

                 date  dif_min  cum_6hour
0 2016-01-12 10:00:00   1020.0          2
1 2016-01-13 21:00:00   3120.0          8
2 2016-01-14 10:00:00   3900.0         10
3 2016-01-14 16:00:00   4260.0         11
4 2016-01-14 17:00:00   4320.0         12

In [19]:
event_df['event'] = 1

event_df = event_df[['cum_6hour', 'event']]
event_df = event_df[~event_df.duplicated()]

event_df = event_df.set_index(['cum_6hour'])

event_df.head()

           event
cum_6hour
2              1
8              1
10             1
11             1
12             1

In [20]:
dat_event = dat_features.join(event_df, how='left')
dat_event = dat_event.fillna(0)

print(dat_event.shape)
dat_event.head()

(484, 25)

,Appliances_x,lights_x,T1_x,RH_1_x,T2_x,RH_2_x,T3_x,RH_3_x,T4_x,RH_4_x,...,RH_1_y,T2_y,RH_2_y,T3_y,RH_3_y,T4_y,RH_4_y,T5_y,RH_5_y,event
cum_6hour,,,,,,,,,,,,,,,,,,,,,
0,150.000000,31.944444,20.688056,47.345394,20.023148,44.973287,20.111481,46.041875,19.255972,47.379074,...,2.998070,0.653222,0.848637,0.278809,1.185530,0.485747,1.282966,0.791008,9.891611,0.0
1,81.944444,7.222222,20.858287,45.627708,20.227315,44.286435,20.213588,45.530833,20.740093,46.503634,...,0.811346,0.476669,0.342190,0.082826,0.103003,0.560148,0.511257,0.272610,0.339389,0.0
2,83.333333,5.555556,19.860463,47.019213,19.140608,44.876698,20.149722,45.269306,19.349259,45.893611,...,1.039938,0.167655,0.318816,0.142110,0.261039,0.273491,0.776746,0.178471,1.138170,1.0
3,101.111111,0.000000,20.037500,44.843009,19.103377,43.495476,19.907778,44.802407,19.748287,43.536204,...,1.091231,0.069944,0.617057,0.046289,0.068936,0.274278,0.622986,0.164863,0.792715,0.0
4,78.611111,7.222222,19.947963,43.275394,19.113860,42.606633,19.788704,44.312037,19.555093,42.804491,...,0.561101,0.187641,0.418215,0.048003,0.180349,0.341428,0.430826,0.075740,0.247231,0.0

In [22]:
tmp = dat_df[dat_df['cum_6hour'] == 0]
tmp.columns

tmp.drop(['cum_6hour'], axis=1)

,Appliances,lights,T1,RH_1,T2,RH_2,T3,RH_3,T4,RH_4,T5,RH_5
0,60,30,19.890000,47.596667,19.200000,44.790000,19.790000,44.730000,19.000000,45.566667,17.166667,55.200000
1,60,30,19.890000,46.693333,19.200000,44.722500,19.790000,44.790000,19.000000,45.992500,17.166667,55.200000
2,50,30,19.890000,46.300000,19.200000,44.626667,19.790000,44.933333,18.926667,45.890000,17.166667,55.090000
3,50,40,19.890000,46.066667,19.200000,44.590000,19.790000,45.000000,18.890000,45.723333,17.166667,55.090000
4,60,40,19.890000,46.333333,19.200000,44.530000,19.790000,45.000000,18.890000,45.530000,17.200000,55.090000
5,50,40,19.890000,46.026667,19.200000,44.500000,19.790000,44.933333,18.890000,45.730000,17.133333,55.030000
6,60,50,19.890000,45.766667,19.200000,44.500000,19.790000,44.900000,18.890000,45.790000,17.100000,54.966667
7,60,50,19.856667,45.560000,19.200000,44.500000,19.730000,44.900000,18.890000,45.863333,17.100000,54.900000
8,60,40,19.790000,45.597500,19.200000,44.433333,19.730000,44.790000,18.890000,45.790000,17.166667,55.000000
9,70,40,19.856667,46.090000,19.230000,44.400000,19.790000,44.863333,18.890000,46.096667,17.100000,55.000000
10,230,70,19.926667,45.863333,19.356667,44.400000,19.790000,44.900000,18.890000,46.430000,17.100000,55.000000
11,580,60,20.066667,46.396667,19.426667,44.400000,19.790000,44.826667,19.000000,46.430000,17.100000,55.000000
12,430,50,20.133333,48.000000,19.566667,44.400000,19.890000,44.900000,19.000000,46.363333,17.100000,55.090000
13,250,40,20.260000,52.726667,19.730000,45.100000,19.890000,45.493333,19.000000,47.223333,17.100000,55.163333
14,100,10,20.426667,55.893333,19.856667,45.833333,20.033333,47.526667,19.000000,48.696667,17.100000,55.500000
15,100,10,20.566667,53.893333,20.033333,46.756667,20.100000,48.466667,19.000000,48.490000,17.150000,56.042500
16,90,10,20.730000,52.660000,20.166667,47.223333,20.200000,48.530000,18.926667,48.156667,17.166667,56.490000
17,70,30,20.856667,53.660000,20.200000,47.056667,20.200000,48.447500,18.890000,47.963333,17.200000,56.933333
18,80,30,20.890000,51.193333,20.200000,46.330000,20.200000,48.193333,18.963333,48.630000,17.200000,57.060000
19,140,40,20.890000,49.800000,20.200000,46.026667,20.166667,47.633333,19.033333,49.500000,17.593333,70.726667
20,120,20,20.890000,48.433333,20.200000,45.722500,20.166667,47.300000,19.175000,49.947500,18.066667,79.000000
21,190,40,20.963333,47.633333,20.260000,45.530000,20.200000,47.026667,19.260000,49.696667,17.666667,79.730000
22,110,40,21.033333,47.063333,20.290000,45.223333,20.260000,46.826667,19.323333,49.166667,17.600000,79.256667
23,110,40,21.100000,46.596667,20.356667,44.963333,20.290000,46.633333,19.390000,48.426667,17.566667,78.393333
24,110,30,21.133333,46.060000,20.426667,44.760000,20.290000,46.433333,19.390000,48.193333,17.760000,82.460000
25,110,20,21.200000,45.800000,20.500000,44.760000,20.390000,46.223333,19.390000,47.800000,18.356667,82.590000
26,100,30,21.290000,45.900000,20.533333,45.090000,20.390000,46.090000,19.390000,47.560000,18.356667,70.990000
27,100,20,21.356667,45.826667,20.666667,45.163333,20.390000,46.090000,19.390000,47.500000,18.600000,62.430000
28,100,20,21.390000,45.690000,20.700000,45.060000,20.390000,46.090000,19.426667,47.993333,18.666667,59.030000
29,100,20,21.500000,45.333333,20.700000,44.933333,20.390000,46.060000,19.566667,48.466667,18.823333,56.726667
30,110,20,21.500000,45.126667,20.790000,44.633333,20.390000,46.000000,19.666667,48.093333,18.963333,55.333333
31,400,20,21.533333,44.966667,20.790000,44.360000,20.426667,45.933333,19.600000,47.500000,19.033333,54.093333
32,400,20,21.600000,44.766667,20.890000,44.223333,20.500000,45.933333,19.696667,47.626667,19.100000,53.366667
33,390,30,21.600000,44.560000,20.963333,43.963333,20.500000,45.790000,20.096667,47.566667,19.158333,52.472500
34,240,20,21.600000,44.360000,21.000000,43.833333,20.500000,45.730000,20.596667,47.223333,19.200000,51.990000
35,60,20,21.600000,44.200000,21.000000,43.700000,20.500000,45.590000,20.996667,47.030000,19.222500,51.520000

In [24]:
tmp= tmp.rolling(6).mean()
tmp = tmp.dropna()

tmp

,Appliances,lights,T1,RH_1,T2,RH_2,T3,RH_3,T4,RH_4,T5,RH_5,cum_6hour
5,55.000000,35.000000,19.890000,46.502778,19.200000,44.626528,19.790000,44.897778,18.932778,45.738750,17.166667,55.116667,0.0
6,55.000000,38.333333,19.890000,46.197778,19.200000,44.578194,19.790000,44.926111,18.914444,45.775972,17.155556,55.077778,0.0
7,55.000000,41.666667,19.884444,46.008889,19.200000,44.541111,19.780000,44.944444,18.896111,45.754444,17.144444,55.027778,0.0
8,56.666667,43.333333,19.867778,45.891806,19.200000,44.508889,19.770000,44.920556,18.890000,45.737778,17.144444,55.012778,0.0
9,60.000000,43.333333,19.862222,45.895694,19.205000,44.477222,19.770000,44.897778,18.890000,45.800000,17.133333,54.997778,0.0
10,88.333333,48.333333,19.868333,45.817361,19.231111,44.455556,19.770000,44.881111,18.890000,45.950000,17.116667,54.982778,0.0
11,176.666667,51.666667,19.897778,45.879028,19.268889,44.438889,19.770000,44.863333,18.908333,46.066667,17.111111,54.977778,0.0
12,238.333333,51.666667,19.938333,46.251250,19.330000,44.422222,19.786667,44.863333,18.926667,46.162222,17.111111,54.998333,0.0
13,270.000000,50.000000,20.005556,47.445694,19.418333,44.522222,19.813333,44.962222,18.945000,46.388889,17.111111,55.042222,0.0
14,276.666667,45.000000,20.111667,49.161667,19.527778,44.755556,19.863889,45.418333,18.963333,46.873333,17.100000,55.125556,0.0
15,281.666667,40.000000,20.230000,50.462222,19.661667,45.148333,19.915556,46.018889,18.981667,47.272222,17.108333,55.299306,0.0
16,258.333333,30.000000,20.363889,51.595000,19.796667,45.618889,19.983889,46.623889,18.987778,47.560000,17.119444,55.547639,0.0
17,173.333333,25.000000,20.495556,52.805556,19.925556,46.061667,20.052222,47.227361,18.969444,47.815556,17.136111,55.869861,0.0
18,115.000000,21.666667,20.621667,53.337778,20.031111,46.383333,20.103889,47.776250,18.963333,48.193333,17.152778,56.198194,0.0
19,96.666667,21.666667,20.726667,52.850000,20.109444,46.537778,20.150000,48.132917,18.968889,48.572778,17.235000,58.792083,0.0
20,100.000000,23.333333,20.803889,51.606667,20.166667,46.519306,20.172222,48.095139,18.998056,48.781250,17.396111,62.708750,0.0
21,115.000000,28.333333,20.870000,50.563333,20.204444,46.314861,20.188889,47.855139,19.041389,48.982361,17.482222,66.656667,0.0
22,118.333333,33.333333,20.920556,49.630556,20.225000,45.981528,20.198889,47.571250,19.107500,49.150694,17.554444,70.451111,0.0
23,125.000000,35.000000,20.961111,48.453333,20.251111,45.632639,20.213889,47.268889,19.190833,49.227917,17.615556,74.027778,0.0
24,130.000000,35.000000,21.001667,47.597778,20.288889,45.370972,20.228889,46.975556,19.261944,49.155139,17.708889,78.261111,0.0
25,125.000000,31.666667,21.053333,46.931111,20.338889,45.159861,20.266111,46.740556,19.321389,48.871806,17.836111,80.238333,0.0
26,121.666667,33.333333,21.120000,46.508889,20.394444,45.054444,20.303333,46.538889,19.357222,48.473889,17.884444,78.903333,0.0
27,106.666667,30.000000,21.185556,46.207778,20.462222,44.993333,20.335000,46.382778,19.378889,48.107778,18.040000,76.020000,0.0
28,105.000000,26.666667,21.245000,45.978889,20.530556,44.966111,20.356667,46.260000,19.396111,47.912222,18.217778,72.648889,0.0
29,103.333333,23.333333,21.311667,45.768333,20.587778,44.961111,20.373333,46.164444,19.425556,47.918889,18.427222,69.037778,0.0
30,103.333333,21.666667,21.372778,45.612778,20.648333,44.940000,20.390000,46.092222,19.471667,47.902222,18.627778,64.516667,0.0
31,151.666667,21.666667,21.428333,45.473889,20.696667,44.873333,20.396111,46.043889,19.506667,47.852222,18.740556,59.767222,0.0
32,201.666667,20.000000,21.480000,45.285000,20.756111,44.728889,20.414444,46.017778,19.557778,47.863333,18.864444,56.830000,0.0
33,250.000000,21.666667,21.520556,45.073889,20.805556,44.528889,20.432778,45.967778,19.675556,47.874444,18.957500,55.170417,0.0
34,273.333333,21.666667,21.555556,44.852222,20.855556,44.324444,20.451111,45.907778,19.870556,47.746111,19.046389,53.997083,0.0
35,266.666667,21.666667,21.572222,44.663333,20.905556,44.118889,20.469444,45.829444,20.108889,47.506667,19.112917,53.129306,0.0

In [26]:
import numpy as np

# 특징량을 결합
tmp2 = (np.array(tmp['Appliances']).tolist() + np.array(tmp['lights']).tolist() +
        np.array(tmp['T1']).tolist() + np.array(tmp['RH_1']).tolist() +
        np.array(tmp['T2']).tolist() + np.array(tmp['RH_2']).tolist() +
        np.array(tmp['T3']).tolist() + np.array(tmp['RH_3']).tolist() +
        np.array(tmp['T4']).tolist() + np.array(tmp['RH_4']).tolist() +
        np.array(tmp['T5']).tolist() + np.array(tmp['RH_5']).tolist())

# 특징량의 길이를 확인
print(len(tmp2))
# 특징량을 행방향으로 정렬시켜서 확인
pd.DataFrame(tmp2)

372

             0
0    55.000000
1    55.000000
2    55.000000
3    56.666667
4    60.000000
..         ...
367  59.767222
368  56.830000
369  55.170417
370  53.997083
371  53.129306

[372 rows x 1 columns]